.bg-header-dark {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -999;
    border-radius: 100%;
    box-shadow: 0 0 20px 20px #3c0366;
    opacity: 0.3;
    /* background-image: url('/assets/image/gif/daniele-levis-pelusi-nEczFlV-GMI-unsplash.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background: linear-gradient(to right,
            rgba(3, 0, 20, 0.3),
            rgba(3, 0, 20, 0.6),
            transparent);
}

@keyframes rotateicons {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}